/* General Styling */
.review-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Allow the container to take the full width of the screen */
  }
  
  /* Card Styling */
  .review-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px; /* Max width for large screens */
    margin: 10px 0;
  }
  
  /* Review Item (Card) */
  .review-item {
    position: relative;
    background: linear-gradient(135deg, #1A0D2E, #0A0415); /* Blue background */
    color: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make it responsive */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  /* Reviewer Logo */
  .reviewer-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Reviewer Name */
  .reviewer-name {
    font-size: 14px;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  
  /* Review Text */
  .review-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Review Date */
  .review-date {
    font-size: 12px;
    color: #dcdcdc;
    margin-top: auto;
  }
  
  /* Approve Button */
  .approve-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .approve-button:hover {
    background-color: #218838;
  }
  
  /* No Reviews Message */
  .no-reviews {
    text-align: center;
    font-size: 18px;
    color: #dcdcdc;
  }
  
  /* Delete Button */
  .delete-button {
    background-color: #dc3545; /* Red background */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .review-list-container {
      margin-left: 0; /* Remove left margin on small screens */
    }
  
    .review-item {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .review-text {
      font-size: 14px; /* Slightly smaller text for mobile */
    }
  
    .reviewer-name {
      font-size: 12px; /* Adjust reviewer name size for small screens */
    }
  }
  