.aboutUs {
    background: rgba(166, 0, 7, 1);
    display: flex;
    flex-direction: row; /* Change to row to align content horizontally */
    overflow: hidden;
    font-family: 'Inter', 'Abhaya Libre', sans-serif;
    color: rgba(255, 193, 101, 1);
    position: relative;
    justify-content: space-between; /* Space out text and image */
}

.cloud5,
.cloud4 {
    position: absolute;
    background-image: url('../assets/yellowcloud.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}
.cloud3,
.cloud6 {
    position: absolute;
    background-image: url('../assets/darkcloud.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.cloud3 {
    width: 270px; /* Increased size */
    height: 180px; /* Increased size */
    bottom: 10%; /* Positioned higher */
    right: 10%; /* Spread horizontally */
}

.cloud7 {
    width: 270px; /* Size of cloud */
    height: 180px; /* Size of cloud */
    bottom: 15%; /* Slightly higher than cloud3 */
    right: 25%; /* More to the left than cloud3 */
}
.cloud4 {
    width: 320px; /* Increased size */
    height: 210px; /* Increased size */
    bottom: 60%; /* Positioned higher */
    right: 50%; /* Spread horizontally */
}

.cloud5 {
    width: 290px; /* Increased size */
    height: 200px; /* Increased size */
    bottom: 80%; /* Positioned higher */
    right: 15%; /* Spread horizontally */
}

.cloud6 {
    width: 250px; /* Increased size */
    height: 170px; /* Increased size */
    bottom: 38%; /* Positioned higher */
    right: 60%; /* Spread horizontally */
}

.topRightImage {
    position: absolute; /* Absolute positioning to place it relative to the parent */
    top: 20px; /* Distance from the top */
    right: 5%; /* Move it a bit more to the right (adjust the percentage or use px for more precision) */
    width: 80px; /* Size of the image */
    height: 200px; /* Height of the image */
    background-image: url('../assets/chineseletters.png');
    background-size: contain; /* Resize the background image to fit within the element */
    background-repeat: no-repeat; /* Prevent repeating the image */
    opacity: 0.9; /* Optional: Adjust transparency */
}


.content {
    flex: 1; /* Allow content to take the remaining space */
    padding: 20px 50px;
}

.titlePart {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgba(255, 193, 101, 1);
}

.mainTitle {
    font-size: 50px;
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    line-height: 1.2;
}

.titleIcon {
    width: 50px;
    height: auto;
    object-fit: contain;
}

.textBlocks {
    margin-top: 60px;
}

.blockTitle {
    font-size: 40px;
    font-family: 'Abhaya Libre', serif;
    font-weight: bold;
    margin-bottom: 14px;
}

.blockContent {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 193, 101, 0.9);
    margin-bottom: 30px;
}
